
.header-top {
	background: $blue;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 6px;
}
.box-search {
	max-width: 175px;
    margin-left: auto;
    position: relative;
    input {
    	width: 100%;
	    border: 1px solid #fff;
	    background: $blue;
	    height: 28px;
	    padding: 0 10px;
	    border-radius: 4px;
	    color: #fff;
	    &::placeholder {
	    	color: #fff;
	    }
    }
    button {
    	width: 28px;
	    height: 28px;
	    background: transparent;
	    border: 0;
	    cursor: pointer;
	    position: absolute;
	    top: 0;
	    right: 0;
    }
}
.tag-hot {
	a {
		display: inline-flex;
	    height: 45px;
	    border: 1px solid #D2D2D2;
	    align-items: center;
	    padding: 0 20px;
	    border-radius: 30px;
	    color: #555555;
	    position: relative;
	    &:before {
	    	content: "#";
	    	margin-right: 5px;
	    }
	}
}
.header-logo {
	padding: 20px 0;
}
.header-menu {
	background: $red;
	ul {
		list-style: none;
	    display: flex;
	    width: 100%;
	    align-items: center;
	    justify-content: space-between;
	    text-transform: uppercase;
	    font-weight: 500;
	    flex-wrap: wrap;
	}
	a {
		display: inline-flex;
    	padding: 14px 5px;
    	color: #fff !important;
    	i {
    		font-size: 20px;
    	}
	}
}

.footer-menu {
	background: #E0E0E0;
	ul {
		list-style: none;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    padding: 10px 0;
	    min-height: 50px;
	    align-items: center;
	    text-transform: uppercase;
	    font-weight: 600;
	    a {
	    	color: #333333;
	    	&:hover {
	    		color: $red;
	    	}
	    }
	}
}
.footer-logo {
	padding: 35px 0;
	.logo {
		img {
			height: 37px;
		}
	}
}

.footer-content {
	padding: 35px 0;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    .row {
    	margin: 0 -20px;
    	.col-md-4 {
    		padding: 0 20px;
    		flex: 0 0 30%;
    		max-width: 30%;
    		border-right: 1px solid #E7E7E7;
    		&:nth-child(2) {
    			flex: 0 0 40%;
    			max-width: 40%;
    		}
    		&:last-child {
    			border-right: 0;
    		}
    	}
    }
    ul {
    	list-style: none;
    	li {
    		margin-bottom: 5px;
    		&:last-child {
    			margin-bottom: 0;
    		}
    	}
    }
    p {
    	font-weight: 600;
    	margin-bottom: 5px;
    }
}
.item-support {
	ul {
		margin-bottom: 15px;
	}
}
.item-ft {
	li {
		display: flex;
		span:first-child {
			flex: 0 0 145px
		}
	}
}
.place-fter {
	li {
		position: relative;
		padding-left: 25px;
		img {
			position: absolute;
		    top: 3px;
		    left: 0;
		}
	}
}

.copyr {
    padding: 15px 0;
}